/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

::selection {
    background: #2f78c7;
    color: #FFF;
    text-shadow: none;
}

.dark .svg-trigger path {
    stroke: #000000;
}

#section-about .lead {
	text-align: justify;
}

.page-section{
	padding: 3em 0;
}


@media (max-width: 991px) {
	.menu-item{
    	border-bottom: 0.1em solid #e2e2e2;
	}
	.menu-item:last-child{
		border:0;
	}

	.header-misc-icon > a,
	.dark .menu-link {
		color: #444444!important;
	}

	#header.transparent-header.dark:not(.sticky-header) #header-wrap {
		background-color: white;
		border-bottom-color: rgba(255,255,255,0.1) !important;
	}
}

.dark .menu-item:hover > .menu-link, .dark .menu-item.current > .menu-link,
.menu-item:hover > .menu-link, .menu-item.current > .menu-link,
h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
	color: #2f78c7;
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge){
    text-shadow: 3px 1px black;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, not all, only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
	#logo a.standard-logo{
		display: flex;
	}
}
.dark a:not([class*="btn-"]):hover {
	color:#2f78c7!important;
}
#gotoTop{
	background-color: #444;
}

#gotoTop:hover{
	background-color: #2f78c7;
}
.title-bottom-border h1, .title-bottom-border h2, .title-bottom-border h3, .title-bottom-border h4, .title-bottom-border h5, .title-bottom-border h6 {
	border-bottom: 2px solid #2f78c7
}

#mapid { 
	height: 100%;
}

.leaflet-pane,
.leaflet-control {
    z-index: 0!important;
}

.mfp-bottom-bar {
	margin-top: -70px;
}

@media (min-width: 426px) {
	img.mfp-img{
		display: inline-block;
		width: 50%;
	}

	.mfp-content > .mfp-figure figcaption {
		display: inline-block;
		width: 50%;
	}
	.mfp-figure:after {
		background-color: rgba(255,255,255,1);
	}
	.mfp-bottom-bar {
		position: inherit;
		margin-top: 0px;
	}

}

.mfp-title {
    background-color: rgba(255,255,255,1);
    padding: 0.5em 1em;
    text-align: justify;
	font-size: 0.85em;
	color: #444;
}

.textarea {
	height: inherit;
}

#footer {
	background-color: #FFF;
}

.footer-logo{
	margin: 0  auto;
}

#footer .address {
	font-size: 0.9em;
}

@media (min-width: 992px) {
	.primary-menu .menu-container .menu-link {
		font-weight: 900;
	}
}